<mat-card>
  <h4>Current benchmark: {{commitService.getSelectedCommits().benchmarkName | defaultvalue: '(none)'}}</h4>
  <h4>Currently chosen commits:</h4>
  <h5>(Click to remove)</h5>
  <mat-card-content *ngFor="let pair of commitService.getSelectedCommits().commitsAndDevices"
                    (click)="commitService.removeCommit(pair.commit, pair.device)">
    {{pair.commit.sha | abbreviate: 15}}<br>
    {{pair.device}}
  </mat-card-content>

  <button mat-stroked-button
          (click)="configurePlot()">
    Configure Plot
  </button>
</mat-card>
