<mat-card class="git-history-wrapper">

  <mat-card class="git-history-title">
    <mat-card-title>
      Git History
    </mat-card-title>

    <mat-form-field>
      <mat-label>Selected Branch</mat-label>
      <mat-select [(value)]="currentlySelectedBranch"
                  (selectionChange)="selectBranch(currentlySelectedBranch)">
        <mat-option *ngFor="let branchname of branchNames"
                    [value]="branchname"
                    (select)="selectBranch(branchname)">
          {{branchname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <div>
    <mat-expansion-panel hideToggle *ngFor="let commit of commits" [disabled]="commit.availableDevices.length == 0">
      <mat-expansion-panel-header>
        <mat-panel-title
          [ngClass]="{'benchmark' : commit.availableDevices.length > 0, 'noBenchmark' : commit.availableDevices.length > 0}">
          <span class="date">{{commit.date}} </span>
          <span class="author">{{commit.author}} </span>
        </mat-panel-title>
        <mat-panel-description>
          <p class="message-preview">{{commit.message}}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section class="message">{{commit.message}}</section>
      <section class="devices"> <!-- TODO somehow get available devices and only show those -->
        <mat-checkbox class="device-margin"
                      *ngFor="let device of commit.availableDevices">
          {{device.name}}
        </mat-checkbox>
      </section>
      <mat-action-row>
        <button mat-button color="primary" (click)="selectCommit(commit)">Select</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>

</mat-card>
