@import "node_modules/nord/src/sass/nord";

mat-card {
  margin: 1vh;
  // background-color: white;
}

mat-expansion-panel {
  margin: 1vh;
}

mat-expansion-panel span {
  margin: 0 auto;
}

.benchmark .date {
  color: var(--gb-dark-blue);
}

.benchmark .author {
  color: var(--gb-purple);
}

.benchmark {
  color: var(--gb-green);
}

.message {
  margin: 12px;
}

.devices {
  margin: 12px 0;
  float: right;
}

.device-margin {
  margin: 0 12px;
}
