@import "node_modules/nord/src/sass/nord";

mat-card {
  margin: 1vh;
  // background-color: white;
}

mat-expansion-panel {
  margin: 1vh;
}

mat-expansion-panel span {
  margin: 0 auto;
}

.selection {
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divider {
  margin-right: 1vh;
}

.benchmark .date {
  color: var(--gb-dark-blue);
}

.benchmark .author {
  color: var(--gb-purple);
}

.benchmark {
  color: var(--gb-green);
}

.date {
  flex: 1;
  justify-content: left;
}

.author {
  flex: 1;
  justify-content: left;
}

.message-preview {
  flex: 2;
  justify-content: left;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.hidden {
  display: none;
}

.message {
  margin: 12px;
}

.devices {
  margin: 12px 0;
  float: right;
}

.device-margin {
  margin: 0 12px;
}
