mat-toolbar {
  height: 5vh;
}

.header {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.clickable:hover {
  cursor: pointer;
}

.image {
  height: 4vh;
}

.parkview {
  font-size: 4vh;
}

.long-spacer {
  flex: 1 1 auto;
}

.margin {
  margin-left: 1vw;
}

.clickable:focus {
  outline: 0;
}
