header {
  height: 5vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  flex-grow: 1;
}

.container {
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
}

.sidenav {
  top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  position: fixed;
}

.content {
  position: fixed;
  overflow-y: scroll;
}

/*
nav {
  height: 95vh;
  width: 15vw;
  //min-width: 250px; // soon(tm) as soon as main doesn't disappear underneath the sidebar anymore
  position: fixed;
  z-index: 1;
  top: 5vh;
  left: 0;
  overflow-y: scroll;
}

main {
  top: 5vh;
  left: 15vw;
  width: 85vw;
  position: fixed;
  height: 95vh;
}
*/
