header {
  height: 5vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  flex-grow: 1;
}

nav {
  height: 95vh;
  width: 15vw;
  //min-width: 250px; // soon(tm) as soon as main doesn't disappear underneath the sidebar anymore
  position: fixed;
  z-index: 1;
  top: 5vh;
  left: 0;
  overflow-x: hidden;
}

main {
  top: 5vh;
  left: 15vw;
  width: 85vw;
  position: fixed;
  height: 95vh;

  background: var(--od-dark-gray);
}
