<h1 mat-dialog-title>
  Regarding cookies...
</h1>

This site uses cookies to save the last viewed plots,
locally saved templates, last used settings for the dashboard
and similar functionalities.<br>
We don't even use that saved data for anything other than that.

<mat-dialog-actions class="actions">
  <button
    mat-button
    color="primary"
    mat-dialog-close="true"
    class="saveSettings"
    id="confirmCookies"
    (click)="saveSettings()"
  >
    I Accept
  </button>
</mat-dialog-actions>


