@import "node_modules/nord/src/sass/nord";

.warning {
  color: $nord11;
}

.plot-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.plot-options > mat-form-field {
  flex: 1;
}

table {
  width: 100%;
}

mat-form-field {
  margin: 0.5em;
}

.mat-expansion-panel-header[aria-disabled=true] {
  color: rgba(0, 0, 0, 0.87);
}
