@import "node_modules/nord/src/sass/nord";

mat-card {
  margin: 1vh;
  height: 90%;
  width: 90%;
}

mat-card-title {
  color: $nord0;
}

mat-card-content {
  color: $nord0;
}

.download-btn {
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
  background-color: $nord10;
  color: white;
  margin-left: 1vw;
}
