<mat-card>
  <mat-card-title>Bar Plot</mat-card-title>

  <div class="plot">
    <canvas [chartType]="chartType"
            [datasets]="chartData"
            [options]="chartOptions"
            [labels]="chartLabels"
            baseChart
            id="canvas"
            class="chart">
    </canvas>
  </div>

  <div class="settings">
    <mat-form-field>
      <mat-label>
        y Axis Scaling
      </mat-label>
      <mat-select [(value)]="this.yType"
                  (selectionChange)="updateChart()">
        <mat-option [value]="'linear'">
          Linear
        </mat-option>
        <mat-option [value]="'logarithmic'">
          Logarithmic
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <label>Font Size: </label>
      <label>{{fontSize}}</label>
      <mat-slider color="primary" min="10" max="20" step="1" value="13" [(ngModel)]="fontSize"
                  (ngModelChange)="updateChart()"></mat-slider>
    </div>

    <a mat-flat-button
            class="btn"
            (click)="downloadCanvas($event)"
            color="primary">
      <mat-icon>download_file</mat-icon>
      Download Plot
    </a>

    <a mat-flat-button
            [cdkCopyToClipboard]="url" class="btn"
            color="primary">
      <mat-icon>assignment</mat-icon>
      Copy Link
    </a>

  </div>
</mat-card>
